<nav class="navbar navbar-expand-lg navbar-light bg-gray">
  <div class="container-fluid mb-3">
    <a class="navbar-brand .navbar-text display-5 text-black font-weight-bold fw-bold" href="/">B.A.T.H</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 display-8 text-black fw-bold" style="margin: 0% 37%;"> 
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bart">BART Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom/create">Create a Custom Line</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lines">View All Custom Lines</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myprofile/edit">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>  
