<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">



    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">About Us</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> My initial research topic was how blinking affects the health of people. I found that blinking is a very necessary function of the human body and it is good to blink often, at least 15 times a minute.</p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
            
            <img src="/static/blinker.png" class="rounded float-end" width = "100" hieght= "100" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

            
    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Danger of not blinking</h1>
        <p> Not blinking is very dangerous, as you can get things in your eyes easier, develop dry eye, headaches, or an eye infection
        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
            <img src="/static/blinking.gif" class="rounded float-end" width = "200" hieght= "200" alt="...">
            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

            
            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">About Me</h1>
        <p> I am Henry Meyer, a senior in the Oakland Tech Computer Science Academy and I am also a rower. I made this website because as a student athlete, it is important to blink a lot and I want to inform others on the effects of not blinking. Being sure to blink often has positively influenced my life by a great margin and I would like to share that same change with others! </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        
        
</div>

                


 



{% endblock %}