{% extends 'base.html' %}


{% block body %}
    <div style="background-color: #1a756e;" >  

    <h1 class="display-4 text-center ">BART Information</h1>
    <p></p>
    <img src="/static/bartlogo.png" class="center">
    <p></p>
    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <h2> What is BART?</h2><p><p>
        
            Bay Area Rapid Transit, or BART, was created in 1972 to serve as a subway system for Bay Area residents. BARTs 5 main lines, 50 stations, 171 trains currently in service, each with 6-8 cars, and 131 miles of track transport nearly 50 million people around the bay area each year.
            You can learn more about them on <a href="https://www.bart.gov/">their website</a>
          </p></p>
        </div>
    </div>
    </div>
    <p></p>
    <div class="container text-center display-7 text-left border border-5 whtie" >
        <div class="row">
        <div class="col">
          <h2>Where can I go on bart?</h2><p><p>
            Bart can transport you basically anywhere in the Bay Area, to San Francisco, Alameda, Santa Clara, San Mateo, and Contra Costa counties, and to both Oakland and San Francisco International Airports. 
              The lines you can travel on are stated below:
            <p><span style="color: yellow;">Yellow Line: </span>From Antioch to SFO, the yellow line has 28 stations, across 62.2 Miles of track. It was opened on May 21st 1973 and is included in the 3-line service</span></p>
            <p><span style="color: blue;">Blue Line: </span>Dublin/Pleasanton to Daly City, the blue line has 18 stations, across 35.7 Miles of track. It was opened on May 10th 1997 and is included in the 3-line service </span></p>
            <p><span style="color: orange;"> Orange Line: </span> Berryessa/North San José to Richmond, the orange line has 21 stations, across 51 Miles of track. It was opened on September 11th 1972 and is included in the 3-line service</p>
            <p><span style="color: rgb(0, 255, 0);"> Green Line: </span> Berryessa/North San José to Daly City, the green line has 22 stations, across 53 Miles of track. It was opened on September 16th 1974 and isn't included in the 3-line service</p>
            <p><span style="color: rgb(255, 65, 65);"> Red Line: </span> Richmond to SFO & Millbrae, the red line has 24 stations, across 38.2 Miles of track. It was opened on July 7th 1980 and isn't included in the 3-line service</p>
            <p>OAK Line: Coliseum to Oakland International Airport, the OAK line has 2 stations, across 3.2 Miles of track. It was opened on November 24th 2014 and isn't included in the 3-line service</p>
            <p>*Please note times BART is open: </p>
              <p>Weekdays: 5-Line Service: 5:00 am - 9:00 pm</p>
              <p>Saturday: 5-Line Service: 6:00 am - 9:00 pm</p>
              <p>Sunday: 5-Line Service: 8:00 am - 9:00 pm</p>
              <p>3-Line Service (Daily): 9:00 pm - 12:00 am</p>
          
          </p></p>
        </div>
    </div>
    </div>

    {% endblock %}