{% extends 'base.html' %}


{% block body %}
    <div style="background-color: #1a756e;" >  

    <h1 class="display-4 text-center ">Bay Area Transit Help</h1>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          My Misson statement: Public Transit provides an alternative and public mode of transportation to everyone living in an area, and it is imperative we upkeep these services in society as they are cheaper, more efficient, and have a much smaller carbon footprint. In the USA, we have prioritized the profit of car and oil companies over providing useful services to its citizens, and because our country has become so dependent on cars as the only mode of transportation, it is important we have these public transit systems as well as active usership of them to combat climate change and travel cheaper. Check the overview for more information on my topic!
          <p><p> </p></p>
        </div>
    </div>
    </div>
          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/static/homeimg.jpg" class="d-block w-100" alt="..." width="150" height="1000">
      </div>
      <div class="carousel-item">
        <img src="/static/homeimg2.jpg" class="d-block w-100" alt="..."  width="400" height="800" >
      </div>
      <div class="carousel-item">
        <img src="/static/homeimg3.jpg" class="d-block w-100" alt="..." width="400" height="800">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




    
    


    

    {% endblock %}