<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1 class="display-4 text-center "><span style="color: rgb(255, 180, 224);">Overview</span></h1>
<p></p>
<img src="/static/freeway.png" class="center">
<p></p>
<div class="container text-center border border-5 ">
    <h2 class="display-4 container text-center"><span style="color: rgb(75, 155, 72);">About Me </span></h2>
    <p>My name is Henry Meyer, I am a Senior at Oakland Technical High School, I enjoy rowing, music, video games, and spending time with my friends. My initial research topic was public transportation's usefulness, which I had already been interested in, and as I researched more I became more interested in it and found more and more benefits to using it, as well as the absurd things the USA has done to make cars the only reasonable means of transportations. 
        Below is general information about public transportation and why it is important to have public transportation systems. For more information about me and in depth research about public transit issues, you can visit my website
        <a href="https://henrymeyer-cscapstone.github.io/CSCapstone/assignment3.07/AboutHenryMeyer.html">here</a>
    </p>
</div>
    <p></p>
    <div class="container text-center border border-5">
        <h2 class="display-5 container text-center"><span style="color: rgb(176, 42, 42);">Danger of Cars</span></h2>
        <p>  Cars are symbols of American individualism, as they are often driven by only one person, while a train or bus can transport 10-50 times as many people with the same amount of space. The USA has made it so cars are the only reasonable way to get places in a lot of places, with cities being built around cars rather than around people, with hundreds of major city buildings and housing being destroyed for the creation of parking lots in the 1930s-50s. 
             Additionally it is impossible to build cities like San Francisco and New York City today due to the absurd amount of parking required for buildings in American Cities.
             Cars and fossil fuels burned to power our cars are some of the biggest contributors to climate change, with the average American driving 37 miles per day, transporting on average only a single person.
             Another part of this is suburbs created outside of large cities that were created in response to fears of racial diversity by middle class white families. Suburbs are portrayed with the intent of being idealized as the perfect way of American living, and in these suburbs are endless mazes of identical homes, only traversable with cars, with little to no businesses or non housing buildings nearby.
             Cars harm cities by destroying their culture or ability to even form a culture, and destroy our environments and natural beauty of cities too, with large cities being polluted by the constant buzz of cars.</p>
    </div>
    <p></p>
    <div class="container text-center border border-5">
        <h2 class="display-5 container text-center"><span style="color: rgb(124, 165, 223);">Solutions</span></h2>
        <p>So what are we able to do about this? Unfortunately a lot of this is up to the legislators and companies who are causing all of this, and there is little an individual can do alone. However you can stop using cars to get places, and use alternative forms of transportation. We at citizens can advocate for more funding into public transit programs, calling our representatives, voting, organizing, and protesting to accomplish this.
           Something else is to foster communities in your own cities, and advocate for policy that allows more small businesses. Move out of suburbs if it is possible, and move somewhere that is easily accessible by alternative forms of transit, or somewhere you are able to get around to everywhere you need very quickly. 
           You can also spread the word to people you know, inform them on the harm of cars and benefits of public transportation, and have them inform people they know too. Making real change is a lot easier when there are a lot of people involved with your project, but I believe change can come soon.
        </p>
    </div>
    
{% endblock %}